@font-face {
  font-family: "GT Sectra Display Bold";
  src: url("/fonts/GT-Sectra-Display-Bold.woff") format("woff");
}

@font-face {
  font-family: "GT Sectra Display Regular";
  src: url("/fonts/GT-Sectra-Display-Regular.woff") format("woff");
}

@font-face {
  font-family: "GT Sectra Fine Book";
  src: url("/fonts/GT-Sectra-Fine-Book.woff") format("woff");
}

html, body {
	height: 100vh;
	margin: 0;
	padding: 0;
}

.noscrol {
	overflow: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	background-image: url("../img/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.content {
	height: 100vh;
	background-color: transparent;
	width: auto;
	float: right;
}

.section {
	z-index: 0;
	padding-left: 100px;
	font-size: 3em;
	background-color: white;
}

nav {
	background-color: #f5e6d3;
	opacity: 0.95;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	z-index: 5;
	transition: transform 2s ease;
}

nav.collapsed {
	transform: translateX(-100vw);
}

.col {
	writing-mode: vertical-lr;
    transform: rotate(-180deg);
    height: 100%;
    text-align: center;
    width: 90px;
}

sup {
	font-family: 'GT Sectra Fine Book', serif;
	font-size: 0.5em;
	margin: 20px 0;
}

.chapterTitle {
	font-family: 'GT Sectra Display Regular', serif;
	font-size: 4em;
	color: #1f1a41;
}

.chapterTitle:hover {
	color: #be9986;
}

svg {
	fill: white;
	width: 30px;
	height: 30px;
	transform: rotate(180deg);
	transform-origin: center center;
	transition: transform 1s ease, fill 0.2s ease;
}

svg.flip {
	transform-origin: center center;
	transform: rotate(0deg);
}

#controlBar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100vh;
	z-index: 10000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#controlBar > img {
	width: 60px;
	height: 60px;
}

#coverPage {
	background-color: transparent;
	display: flex;
	justify-content: center;
    flex-direction: column;
}

#coverText {
	color: white;
	font-size: 0.65em;
    font-family: 'Palatino';
    font-weight: 200;
    max-width: 47%;
    line-height: 1.25em;

}

#coverText > a {
	text-decoration: none;
	font-family: 'Palatino';
	color: white;
	font-style: italic;
}

#coverText > a:hover {
	color: #be9986;
}

.pageContainer {
	padding: 10px;
	padding-left: 30px;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: auto auto auto;
  	grid-gap: 10px;
}

.pageHeader {
	padding-top: 100px;
	font-family: 'GT Sectra Display Regular', serif;
	font-size: 1em;
    color: #1f1a41;
    height: 80px;
	grid-column-start: 1;
  	grid-column-end: 4;
}